<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        {% block title %}
        {% endblock title %}
        <link rel="stylesheet" href="/static/css/style.css">
    </head>

    <body>
        <h1>Let's try out Jinja!</h1>
        <p>
            <a href="/">Home</a>,
            <a href="/about-me">About me</a>
        </p>
        {% block content %}
        {% endblock content %}
        {% for city in cities %}
            <p>{{city}}</p>
        {% endfor %}
        {% if cities %}
            <p>Cities exist.</p>
        {% else %}
            <p>Cities don't exist.</p>
        {% endif %}
        <table>
            <tr>
                {% for ucenik in ucenici %}
                    <th>{{ucenik}}</th>
                {% endfor %}
            </tr>
            <tr>
                {% for city in cities %}
                    <td>{{city}}</td>
                {% endfor %}
            </tr>
            <tr>
                {% for prosjek in prosjeci %}
                    <td>{{prosjek}}</td>
                {% endfor %}
            </tr>
        </table>
    </body>
</html>