{% extends "base.html" %}

{% block content %}
    <p>Hello</p>
    <p>{{some_text}}</p>
    <p>{{time}}</p>
{% endblock content %}
{% block title %}
    <title>Naslovnica</title>
{% endblock title %}
{% for city in cities %}
    <p>{{city}}</p>
{% endfor %}
{% if cities %}
    <p>Cities exist.</p>
{% else %}
    <p>Cities don't exist.</p>
{% endif %}
{% for ucenik in ucenici %}
    <th>{{ucenik}}</th>
{% endfor %}
{% for city in cities %}
    <td>{{city}}</td>
{% endfor %}
{% for prosjek in prosjeci %}
    <td>{{prosjek}}</td>
{% endfor %}
